
.followers{
    background-color: yellow;
}
.badge{
    color:  white;
}
.btn{
    margin:  1%;
}
.location{
    text-align: center;
    font-size: 15px;
}

.badges span{
    margin: 5px;
}

.direitaBlock{
  
    margin: 1%;
}